<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
</head>

<body class="mainApp">
    <div>
        <h1 class="title">To-Do List</h1>
        <form method="POST" class="taskForm" action="{% url 'add_task' %}">
            {% csrf_token %}
            <input type="text" name="task_name" class="taskInput" placeholder="Add a new task" required>
            <button type="submit" class="submitBtn">Add</button>
        </form>
        <ul>
            {% for task in tasks %}
            <li class="task {% if task.completed %}completed{% endif %}">
                {{ task.name }}
                <div>
                    {% if not task.completed %}
                    <a class="action_btn" href="{% url 'complete_task' task.id %}">Complete</a>
                    {% endif %}
                    <a class="action_btn" href="{% url 'delete_task' task.id %}">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>